<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-field">
    <i class="material-icons prefix green-text text-darken-2">account_circle</i>
    <%= form.text_field :name, id: "icon_prefix"%>
    <label for="icon_prefix" class="green-text text-darken-2">Nome Squadra</label>
  </div>

  <div class="actions">
    <%= form.submit  class: "right btn green darken-2"%>
  </div>
<% end %>
