<div class="container">
  <div class="row" style="padding-top:1em">
    <div class="col s12 m3 xl4">
      <div class="card">
        <div class="card-image">
          <img src="https://pbs.twimg.com/profile_images/1011320337/Muppets-4624932-Funny-Cartoons.jpg" alt="" class="team-logo circle">
          <div class="card-title">
            <%= @team.name %>
            <% if Notification.where(recipient: current_user, notifiable: @team, action: "invited").present? && !@team.users.where(id: current_user.id).present?%>
            <%= form_tag(add_player_path(@team), :method => 'post') do %>
              <%= submit_tag "Accetta invito", class: "btn green draken-2 white-text", style: "margin-top:1em" do %>
              <i class="material-icons left">
              <%end%>
            <% end%>
            <%end%>
          </div>
          <!--a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a-->
        </div>
        <div class="card-content">
          <% if current_user && current_user.has_role?(:manager, @team) %>
          <a href="<%=edit_team_path(@team)%>"class="waves-effect waves-light btn-flat"><i class="material-icons left">edit</i>Modifica</a>
          <% end %>
          <!--%= link_to 'Back', teams_path %-->
          <h6>Partite collegate</h6>
          <% if @team.matches.size >0%>
          <%=@team.matches.size%>
          <%else%>
          <p>Nessuna partita collegata</p>
          <%end%>
          <h6>Tipo</h6>
          <div class="chip">
            <img src="https://pbs.twimg.com/profile_images/1011320337/Muppets-4624932-Funny-Cartoons.jpg" alt="Contact Person">
            Calcetto
          </div>
          <div class="chip">
            <img src="https://pbs.twimg.com/profile_images/1011320337/Muppets-4624932-Funny-Cartoons.jpg" alt="Contact Person">
            Calciotto
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m9 xl8">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Formazione</span>
          <h6>In panchina</h6>
          <div class="collection">
            <% @team.users.each do |user| %>
            <div class="collection-item avatar">
              <img src="https://pbs.twimg.com/profile_images/1011320337/Muppets-4624932-Funny-Cartoons.jpg" alt="" style="height:40px;width:40px;" class="circle responsive-img">
              <p><%= user.email %></p>
            </div>
            <%end%>
          </div>
          <h6>Titolari</h6>
        </div>
        <div class="card-action">
          <%if current_user && current_user.has_role?(:manager, @team)%>
          <a style="margin-top:1em" href="<%=select_new_players_path(@team)%>" class="">Invita Giocatore</a>
          <a style="margin-top:1em" href="<%=select_new_players_path(@team)%>" class="">Modifica Ruoli</a>
          <a style="margin-top:1em" href="<%=edit_players_roles_path(@team)%>" class="">Modifica Formazione</a>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Formazione</h4>
    <ul class="collection">
      <% @team.users.each do |user| %>
      <li class="collection-item avatar">
      <img src="https://pbs.twimg.com/profile_images/1011320337/Muppets-4624932-Funny-Cartoons.jpg" alt="" class="circle">
      <span class="title">Title</span>
      <p><%= user.email %><br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
      <% end %>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Chiudi</a>
  </div>
</div>
