<%= form_with(model: match, local: true) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :date %>
  <%= form.hidden_field :latitude %>
  <%= form.hidden_field :longitude %>
  <div class="container center-align">
    <a class="btn waves-effect waves-light green darken-2" id="date_input">Data
      <i class="material-icons right">date_range</i>
    </a>
    <a class="btn waves-effect waves-light green darken-2" id="time_input">Orario
      <i class="material-icons right">date_range</i>
    </a>
    <div class="input-field center-align">
        <input id="pac-input" class="controls" type="text" placeholder="Indirizzo" >
        <div id="map" style="height:300px;margin-top:2em"></div>
    </div>
    <h5>Seleziona le squadre</h5>
    <div class="row">
    <div class="col s5 input-field">
      <i class="icon-soccer-shoe prefix"></i>
        <input type="text" name="home" id="home-input" class="autocompletehome" style="text-align:center" autocomplete="off">
        <label for="home-input" style="text-align:center">In casa</label>
    </div>
    <div class="col s2"><h6>VS</h6></div>
    <div class="col s5 input-field">
        <i class="icon-soccer-shoe prefix"></i>
        <input type="text" name="host" id="host-input" class="autocompletehost" style="text-align:center" autocomplete="off">
        <label for="host-input" style="text-align:center">Ospite</label>
    </div>
    <div class="actions">
      <!--%= form.submit %-->
      <%= link_to root_path, class: "red darken-2 btn waves-effect waves-light" do %>
      <%=t(:cancel)%><i class="material-icons left">cancel</i>
      <%end%>
      <%= button_tag(type: 'submit', class: "green darken-2 btn waves-effect waves-light",name: 'action', disabled: true) do %>
        <i class="icon-soccer-court"></i> Procedi
      <% end %>
    </div>
  </div>
  <script>
    var home = {
      <% current_user.teams.each do |team| %>
      <% if current_user.has_role?(:manager, team)%>
      '<%= team.name %>':null,
      <%end%>
      <%end%>
    };
    var host =  {
      <% (Team.all - current_user.teams).each do |team| %>
      '<%= team.name %>':null,
      <%end%>
    };
    formMatch(home,host);
  </script>
<% end %>
