<!DOCTYPE html>
<html>
  <head>
    <title>Calcetto</title>
    <%= csrf_meta_tags %>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Links -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/solid.css" integrity="sha384-VxweGom9fDoUf7YfLTHgO0r70LVNHP5+Oi8dcR4hbEjS8UnpRtrwTx7LpHq/MWLI" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <main>
    <!-- Navbar -->
    <div class="navbar-fixed">
      <nav class="nav-extended">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo center">Calci8</a>
          <a href="#" data-target="sidenav-trigger" class="white-text sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
          <% if user_signed_in? %>
          <a href="#" data-target="notification-trigger" class="right white-text sidenav-trigger show-on-large"><i class="material-icons">notifications</i></a>
          <%end%>
          </ul>
        </div>
        <div class="nav-content">
        <!--ul class="tabs tabs-transparent tabs-fixed-width">
          <li class="tab"><a class="active" href="#test1"><i class="fas fa-futbol"></i></></a></li>
          <li class="tab"><a href="#test2"><i class="material-icons">whatshot</i></a></li>
        </ul-->
      </div>
      </nav>
    </div>

    <!-- Se l'utente è loggato.. -->
    <!-- SideNav Notifiche [DESTRA]-->
    <% if user_signed_in? %>
    <div id="notification-trigger" class="sidenav notification-sidenav fixed collection" >
      <h6>Notifiche</h6>
      <ul class="fixed collection" data-behaviour="notifications"></ul>
    </div>
    <%end%>
    <!-- SideNav Menu [SINISTRA]-->
    <ul class="sidenav sidenav-sidenav" id="sidenav-trigger">
      <% if current_page?(:controller => '/home', :action => 'index') == false %>
      <li><%= link_to "Home", root_path %></li>
      <% end %>
      <% if user_signed_in? %>
        <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        <% if current_page?(user_path(current_user)) == false %>
        <li><%= link_to "Profilo", current_user %></li>
        <% end %>
      <% else %>
        <li>
        <!--%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %-->
        <%= link_to('Login', new_user_session_path)  %>
        </li>
      <% end %>
    </ul>
    <div class="row">
      <%= yield %>
    </div>
    <!-- Se l'utente è loggato posso mostrare il Floating Action Button -->
    <!-- Inizio Floating Action Button -->
    <% if user_signed_in? %>
    <div class="fixed-action-btn">
      <a id="calci8_button" class="btn-floating btn-large green darken-3">
        <i class="large material-icons">add</i>
      </a>
      <ul>
        <li><a href="<%= new_match_path %>" data-tooltip="Crea Partita" class="tooltipped btn-floating white"><i class="icon-soccer-court" style="color: green !important"></i></a></li>
        <li><a href="<%= new_team_path %>" data-tooltip="Crea Squadra" class="tooltipped btn-floating white"><i class="icon-soccer-shoe" style="color: black !important"></i></a></li>
        <li><a href="<%= new_free_match_path %>" data-tooltip="Crea Amichevole" class="tooltipped btn-floating white"><i class="fas fa-futbol" style="color: black !important"></i></a></li>
      </ul>
    </div>
    <%end%>
    <!-- Se l'utente è loggato posso mostrare il Floating Action Button -->
    <!-- Inizio Floating Action Button -->

    <!-- Script per la gestione dei Toasts -->
    <script>
    <% if notice %>
    M.toast({html: '<%= notice %>'});
    <% end %>
    <% if alert %>
    M.toast({html: '<%= alert %>'});
    <% end %>
    </script>
    <!-- Fine Script Toasts -->
  </main>

  <!-- Inizio del footer -->
  <footer class="page-footer grey darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Calci8</h5>
          <span class="grey-text text-lighten-4">
            Quest'app è stata realizzata per il progetto universitario del laboratorio di
            "Progetto Applicazione Software e Sicurezza Informatica".
            Corso della facoltà di Ingegneria Informatica
            e automatica sostenuto dai professori Querzoni e Mecella.
          </span>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="btn-flat grey white-text text-lighten-3" href="https://github.com/lquerzoni/lassi-lab">
              Github del corso<i class="fab fa-github right"></i>
            </a></li><br>
            <li><a class="btn-flat grey white-text text-lighten-3" href="https://github.com/useless-id/calci8">
              Github del progetto<i class="fab fa-github right"></i></a>
            </li><br>
            <li><a class="btn-flat grey white-text text-lighten-3" href="https://piazza.com/uniroma1.it/spring2016/aaf1519aaf1520aaf1569/home">
              Piazza del corso</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2018 Stefano Latini
      <!--a class="grey-text text-lighten-4 right" href="#!">More Links</a-->
      </div>
    </div>
  <!-- Fine del footer -->
  </footer>
</html>
